<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="viewport.component.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="wrapper">
    <div class="view-portfolio">
       
      <div class="view-portfolio-child"></div>
      <div class="view-portfolio-item"></div>
      <div class="view-portfolio-inner"></div>
      <div class="view-portfolio-child1"></div>
      <div class="view-portfolio-child2"></div>
      <div class="view-portfolio-child3"></div>
      <div class="view-portfolio-child4"></div>
      <div class="view-portfolio-child5"></div>
      <div class="view-portfolio-child6"></div>
      <div class="view-portfolio-child7"></div>
      <div class="view-portfolio-child8"></div>
      <div class="view-portfolio-child9"></div>
      <div class="about1">About</div>
      <img
      class="view-portfolio-child25"
      alt=""
      src="/assets/images/person.jpg"
    />

    <div class="kurt-sapo">KURT SAPO.</div>
    <div class="lorem-ipsum-dolor13">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt
      mollit anim id est laborum.
    </div>
    <div class="view-portfolio-child26"></div>
    <div class="view-portfolio-child27"></div>
    <div class="lorem-ipsum-dolor14">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </div>
      <div class="project1">Project</div>
      <!-- <div class="home-link">
        <a  routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Back to Home</a>
      </div>       -->
      <img class="rectangle-icon" alt="" src="assets/images/sample.jpg" />
      <div class="view-portfolio-child10"></div>
      <b class="view8">View</b>

      <img class="rectangle-icon1" alt="" src="assets/images/sample.jpg" />
      <div class="view-portfolio-child11"></div>
      <b class="view9">View</b>

      <img class="rectangle-icon2" alt="" src="assets/images/sample.jpg" />
      <div class="view-portfolio-child12"></div>
      <b class="view10">View</b>

      <img class="rectangle-icon3" alt="" src="assets/images/sample.jpg" />
      <div class="view-portfolio-child13"></div>
      <b class="view11">View</b>

      <img class="rectangle-icon4" alt="" src="assets/images/sample.jpg" />
      <div class="view-portfolio-child14"></div>
      <b class="view12">View</b>

      <img class="rectangle-icon5" alt="" src="assets/images/sample.jpg" />
      <div class="view-portfolio-child15"></div>
      <b class="view13">View</b>

      <img class="rectangle-icon6" alt="" src="assets/images/sample.jpg" />
      <div class="view-portfolio-child16"></div>
      <b class="view14">View</b>

      <img class="rectangle-icon7" alt="" src="assets/images/sample.jpg" />
      <div class="view-portfolio-child17"></div>
      <b class="view15">View</b>

      <div class="accomplishments7">Accomplishments</div>
      <div class="view-portfolio-child26"></div>
      <div class="view-portfolio-child27"></div>
      <div class="lorem-ipsum-dolor14">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <b class="accomplishment-11">Accomplishment 1</b>

      <div class="view-portfolio-child30"></div>
      <div class="view-portfolio-child31"></div>
      <div class="lorem-ipsum-dolor16">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <b class="accomplishment-21">Accomplishment 2</b>

      <div class="view-portfolio-child28"></div>
      <div class="view-portfolio-child29"></div>
      <div class="lorem-ipsum-dolor15">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <b class="accomplishment-31">Accomplishment 3</b>

      <div class="view-portfolio-child32"></div>
      <div class="view-portfolio-child33"></div>
      <div class="lorem-ipsum-dolor17">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <b class="accomplishment-41">Accomplishment 4</b>
      <div class="skills5">Skills</div>
      <div class="view-portfolio-child34"></div>
      <div class="view-portfolio-child35"></div>
      <div class="lorem-ipsum-dolor18">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <b class="skill-11">Skill 1</b>

      <div class="view-portfolio-child38"></div>
      <div class="view-portfolio-child39"></div>
      <div class="lorem-ipsum-dolor20">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <b class="skill-21">Skill 2</b>

      <div class="view-portfolio-child36"></div>
      <div class="view-portfolio-child37"></div>
      <div class="lorem-ipsum-dolor19">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <b class="skill-31">Skill 3</b>

      <div class="view-portfolio-child40"></div>
      <div class="view-portfolio-child41"></div>
      <div class="lorem-ipsum-dolor21">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <b class="skill-41">Skill 4</b>
      <div class="services5">Services</div>
      <div class="view-portfolio-child42"></div>
      <div class="view-portfolio-child43"></div>
      <div class="lorem-ipsum-dolor22">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <b class="service-11">Service 1</b>

      <div class="view-portfolio-child46"></div>
      <div class="view-portfolio-child47"></div>
      <div class="lorem-ipsum-dolor24">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <b class="service-21">Service 2</b>

      <div class="view-portfolio-child44"></div>
      <div class="view-portfolio-child45"></div>
      <div class="lorem-ipsum-dolor23">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <b class="service-31">Service 3</b>

      <div class="view-portfolio-child48"></div>
      <div class="view-portfolio-child49"></div>
      <div class="lorem-ipsum-dolor25">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <b class="service-41">Service 4</b>
      <div class="contact5">Contact</div>
      <div class="kurt-sapo1">Kurt Sapo.</div>
      <div class="div1">09123456789</div>
      <div class="edcelreneygmailcom1">edcelreneyatgmail.com</div>
      <div class="maple-street-greenwood-container1">
        <p class="maple-street-greenwood1">
          1234 Maple Street, Greenwood, Anytown, State of Imaginaria,
        </p>
      </div>
      <div class="view-portfolio-child50"></div>
      <div class="send-me-a1">Send me a message!</div>
    </div>
    </div>
  </body>
</html>
