/* Styles for the top navigation bar */
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
    width: 100%;
    position: absolute; /* Fixed positioning to stick to the top of the viewport */
    top: 0; /* Aligning to the top of the viewport */
    background-color: #40916c; /* Background color */
    height: 88px; /* Height of the top navigation bar */
    overflow: hidden;
  }
  
  /* Styles for the background color div */
  .top-nav-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
    z-index: -1; /* Ensure it's behind the content */
  }
  
  /* Styles for the "UNFOLD" element */
  .unfold {
   
   margin-left: 300px;
    font-size: 50px; /* Adjusted font size */
    color: #fff; /* Text color */
    font-family: 'Inter', sans-serif;
  }
  
  /* Styles for the "Edcel Reney Udani" element */
  .edcel-reney-udani {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px; /* Adjusted right position */
    font-size: 24px; /* Adjusted font size */
    color: #fff; /* Text color */
    font-family: 'Inter', sans-serif;
  }


  .user-details {
    font-size: 20px; /* Adjusted font size */
    color: #fff; /* Text color */
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase; /* Capitalize each word */
  }
  
  
  a.view-portfolio {
    margin-right: 30px;
    font-size: 20px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
  }

  