<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="topnav.component.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="top-nav">
      <div class="top-nav-child"></div>
      <b class="unfold">UNFOLD</b>
      <div>
        <a *ngIf="userDetails.is_admin === 0" class="view-portfolio" href=""
          >view portfolio</a
        >

        <b class="user-details"
          >{{ userDetails.firstName }} {{ userDetails.lastName }}</b
        >
      </div>
    </div>
  </body>
</html>
